@import url(../fonts/GothamBook.css);
@import url(../fonts/GothamBold.css);
/* diseño de registro de usuarios */
.form_register{
    width: 450px;
    margin: auto;
}
.form_register{
    color: #3c93b0;
}
hr{
    border: 0;
    background: #ccc;
    height: 1px;
    margin: 10px 0;
    display: block;
}
form{
    background: #fff;
    margin: auto;
    padding: 20px 50px;
    border: 1px solid #d1d1d1;
}
label{
    display: block;
    font-size: 12px;
    font-family: 'GothamBook';
    margin: 15px auto 5px auto;
}
input,select{
    display: block;
    width: 100%;
    font-size: 11pt;
    padding: 5px;
    border: 1px solid #85929e;
    border-radius: 5px;
}
.btn_save{
    font-size: 12pt;
    background: #12a4c6;
    padding: 10px;
    color: #fff;
    letter-spacing: 1px;
    border: 0;
    cursor: pointer;
    margin: 15px auto;
}
.alert{
    width: 100%;
    background: #66e07d66;
    border-radius: 6px;
    margin: 20px auto;
}
.msgg_erroor{
    color: #e65656;
}
.msg_save{
    color: #126e00;
}
.alert p{
    padding: 10px;
}

/* estilo css para agregar imagenes en el formulario registro_producto */
.prevPhoto {
    display: flex;
    justify-content: space-between;
    width: 160px;
    height: 150px;
    border: 1px solid #CCC;
    position: relative;
    cursor: pointer;
    background: url(../images/uploads/user.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: auto;
}
.prevPhoto label{
	cursor: pointer;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}
.prevPhoto img{
	width: 100%;
	height: 100%;
}
.upimg, .notBlock{
	display: none !important;
}
.errorArchivo{
	font-size: 16px;
	font-family: arial;
	color: #cc0000;
	text-align: center;
	font-weight: bold; 
	margin-top: 10px;
}
.delPhoto{
	color: #FFF;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	background: red;
	position: absolute;
	right: -10px;
	top: -10px;
	z-index: 10;
}
#tbl_list_productos img{
	width: 50px;
}
.imgProductoDelete{
	width: 175px;
}

/* tamaño de la lista de productos */
.img_producto img{
    width: 60px;
    height: auto;
    margin: auto;
}
/* estos son los diseños para la ventana emergente cuando se editen el almacen y precio del producto 
.modal{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.81);
    display: block;
}
.bodyModal{
    width: 100%;
    display: -webkit-inline-flex;
    display: moz-inline-flex;
    display: -ms-inline-flex;
    display: -o-inline-flex;
    display: inline-flex;
    justify-content: center;
    background-color: #fff;
}
.modal h1{
    color: #0E725D;
    text-transform: uppercase;
}
.modal h2{
    text-transform: uppercase;
    margin-top: 15px;
}
#form_add_product{
    width: 420px;
    text-align: center;
}
*/


/*============ Ventas ============*/
.datos_cliente, .datos_venta, .title_page, .datos, .datos_ventas{
	width: 100%;
	max-width: 900px;
	margin: auto;
	margin-bottom: 20px;
}
#detalle_venta tr{
	background-color: #FFF !important;
}
#detalle_venta td{
	border-bottom: 1px solid #CCC;
}
.datos{
	background-color: #e3ecef;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 2px solid #78909C;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}
.action_cliente{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}

.datos label{
	margin: 5px auto;
}
.wd20{
	width: 20%;
}
.wd25{
	width: 25%;
}
.wd30{
	width: 30%;
}
.wd40{
	width: 40%;
}
.wd60{
	width: 60%;
}
.wd100{
	width: 100%;
}
#div_registro_cliente, #add_product_venta{
	display: none;
}
.displayN{
	display: none;
}
.tbl_venta{
	max-width: 900px;
	margin: auto;
}
.tbl_venta tfoot td{
	font-weight: bold;
}
.textright{
	text-align: right;
}
.textcenter{
	text-align: center;
}
.textleft{
	text-align: left;
}
.btn_anular{
	background-color: #f36a6a;
	border: 0;
	border-radius: 5px;
	cursor: pointer;
	padding: 10px;
	margin: 0 3px;
	color: #FFF;
}
